{% block sw_cms_sidebar_page_settings_content %}
    {% parent %}

    <sw-sidebar-collapse :expandOnLoading="false">

        <span slot="header">
            Page Preview
            <sw-label
                variant="warning"
                appearance="pill"
                size="small">
                PWA only
            </sw-label>
        </span>

        <div slot="content" class="sw-cms-sidebar__settings">

            <sw-sales-channel-switch
                ref="salesChannelSwitch"
                label="Sales Channel"
                descriptions="Foo"
                placeholder="Select Sales Channel"
                @change-sales-channel-id="onSalesChannelChanged"
                required>
            </sw-sales-channel-switch>

            <sw-single-select
                v-if="previewSalesChannel.domains.length > 0"
                {% if VUE3 %}
                    v-model:value="previewDomain"
                {% else %}
                    v-model="previewDomain"
                {% endif %}
                required
                label="Language"
                placeholder="Select Language"
                :options="salesChannelDomains">
            </sw-single-select>

            <sw-alert variant="warning" appearance="default" :showIcon="true" :closable="false" v-if="!previewEnabled">
                Select a Preview entity from above to preview the page
            </sw-alert>

            <sw-button
                :disabled="!previewEnabled"
                variant="ghost"
                @click="previewPage">
                Preview in new Window
            </sw-button>

        </div>

    </sw-sidebar-collapse>
{% endblock %}
