{% block sw_cms_sidebar_page_settings_content %}
    {% parent %}

    <sw-sidebar-collapse :expandOnLoading="true">

        <span slot="header">Page Preview</span>

        <div slot="content" class="sw-cms-sidebar__settings">

            <sw-sales-channel-switch
                ref="salesChannelSwitch"
                label="In which Sales Channel?"
                placeholder="Select Sales Channel"
                @change-sales-channel-id="onSalesChannelChanged">
            </sw-sales-channel-switch>

            <sw-single-select
                v-if="previewSalesChannel.domains.length > 0"
                v-model="previewDomain"
                required
                label="Domain"
                :options="salesChannelDomains">
            </sw-single-select>

            <sw-button
                @click="previewPage">
                Preview in new Window
            </sw-button>

        </div>

    </sw-sidebar-collapse>
{% endblock %}
